

  <nav class="navbar navbar-expand-lg bg-body-tertiary" >
    <div class="container-fluid" id='navbar_section'>
      <a class="navbar-brand" href="https://www.djangoproject.com/">Django</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" id='home' aria-current="page" href="{% url 'article:list' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Add
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'article:create' %}"> + add article</a></li>
              <li><a class="dropdown-item" href="#"> + add article with via from</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-disabled="true" href="{% url "recipe:list" %}">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-disabled="true" href="{% url "recipe:my-list" %}">My Recipes</a>
          </li>
        </ul>
        <form class="d-flex align-items-center" role="search">
          {% if request.user.is_authenticated %}
            <h3 class='m-2'>{{ request.user.username }}/</h3>
            <a href="{% url 'auth:logout' %}" class='btn btn-danger'>Log out</a>
          {% else %}
            <a href="{% url 'auth:login' %}" class="btn btn-success">Login</a>
          {% endif %}
        </form>
      </div>
    </div>
  </nav>